[Unit]
Description=Crypto Live Trading 7081
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/crypto-paper-7081
ExecStart=/opt/crypto-paper-7081/venv/bin/python3 main.py
Restart=always
RestartSec=10
StandardOutput=append:/opt/crypto-paper-7081/crypto-alert.log
StandardError=append:/opt/crypto-paper-7081/crypto-alert.log

[Install]
WantedBy=multi-user.target
